@import "../../scss/variables.scss";
.field {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    label {
      margin-bottom: 10px;
    }
    input {
      padding: 7px 10px;
      line-height: 1.3;
      border-radius: 5px;
      border-color: transparent;
      &:focus::placeholder {
        color: transparent;
      }
    }
    .error-string {
      position: absolute;
      bottom: -5px;
      left: 5px;
    }
    .error{
      color: $errorColor;   
    }
  }