@import "../../scss/variables.scss";
form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background-color: $formBg;
  border-radius: 10px;
  position: relative;

  h1 {
    text-align: center;
  }

  .btn {
    display: block;
    width: 100px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn.btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    cursor: pointer;
  }
  .btn[disabled] {
    color: $errorColor;
    background-color: $disabled;
    border-color: $disabled;
    cursor: default;
  }
}
