.todo-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: darkgrey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  .field {
    padding: 0;
    position: static;
    display: flex;
    align-items: center;
  }
  .input-field {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    input {
      max-width: 450px;
      width: 100%;
      // margin: 0 auto;
      margin-left: auto;
      height: 30px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 3px;
      border: none;
      outline: none;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    label {
      display: none;
      margin-right: 10px;
    }
    .add-todo-btn {
      height: 30px;
      width: 50px;
      margin-left: 15px;
      font-weight: 700;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
  input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
  }
  li.todo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    color: red;
    text-align: left;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    &.completed span {
      color: green;
      // text-decoration: line-through;
    }
    & label {
      width: 100%;
      padding-right: 5px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .btn {
    height: 25px;
    width: 60px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    background-color: darkgrey;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    &:last-child {
      margin-left: 10px;
    }
  }
  .modal {
    display: none;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border: 2px solid #000;
    border-radius: 5px;
    background-color: darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    h3 {
      margin-top: 15px;
    }
    & input {
      height: 30px;
      width: 260px;
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-color: #eee !important;
      border-radius: 5px;
      outline: none;
    }
  }
}
