.weather-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: darkgrey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  .weather-card-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .weather-card{
    max-width: 165px;
    width: 100%;
    // margin-right: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ccc;
  }
  .btn {
    height: 25px;
    width: 60px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    background-color: darkgrey;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    &:last-child {
      margin-left: 10px;
    }
  }
  .modal {
    display: none;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    h3 {
      margin-top: 15px;
    }
    & input {
      height: 30px;
      width: 260px;
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-color: #eee !important;
      border-radius: 5px;
      outline: none;
    }
  }
  img{
    width: 100px;
    margin: 0 auto;
  }
}
