.main {
  min-height: 100vh;
  height: 100%;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ccc;
}
.wrapper {
  display: flex;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
}

form:not(:last-child) {
  margin-bottom: 1rem;
}

input[type="submit"] {
  cursor: pointer;
}
