@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap');
@import "./scss/variables.scss";
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyBg;
}