* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  // background-color: #000;
}
input:checked {
  pointer-events: none;
}

@media screen and (max-width: 1300px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// DB site fixes
@media (max-width: 576px) {
  .content-page .db-open-positions .accordion-body {
    width: 100%;
  }
  .career-page .col-6 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .vacancy-apply .form-group {
    margin-right: 0;
  }
  .accordion-body .profile-page-section {
    margin-bottom: 0 !important;
  }
}



@media (max-width: 1140px){
    .blog-home-container .card-wrapper .card-text ul,
     .posts-item-author,
      .posts-item-date{
        letter-spacing: 0.5px!important;
    }
}