.dashboard-page {
  .wrapper {
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1{
    margin-bottom: 20px;
    text-align: center;

  }
  .field{
    label{
      text-transform: capitalize;
    }
  } 
}