.header {
  height: 100px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: darkgrey;
  .nav-btn {
    height: 30px;
    width: 80px;
    cursor: pointer;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  .link-back {
    cursor: pointer;
    & img {
      height: 50px;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    cursor: pointer;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    &:not(.active-link):hover {
      opacity: 0.9;
    }
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  .active-link {
    pointer-events: none;
    cursor: default;
    background-color: green;
    color: #fff;
  }
  .disabled{
    pointer-events: none;
    cursor: default;
  }

  a[href="/"] {
    margin-right: auto;
  }
  
}
